

{% extends 'layout.html' %} 
{% block title %} Student Forum {% endblock %}
{%block content %}
<h1 class="text-center mt-4">Welcome to Siddhant Collage Student Forum</h1>
{% endblock %}


{% comment %} """
This is the homepage of the Student Forum application. It renders the base template and injects a title and a simple welcome message into the template.

The title of the page is "Student Forum" and the welcome message is "Welcome to Siddhant Collage Student Forum".

The page is rendered using the base template which provides the basic layout of the page including the navigation bar and the footer.
""" {% endcomment %}